<h1>Inventario</h1>
<hr>
<div class="container" style="margin-top: 150px;">
    <div class="row">
      <div class="col-md-6">
                    <div style="display: block">
                      <canvas baseChart
                              [data]="doughnutChartData"
                              [type]="doughnutChartType"
                              [options]="doughnutChartOptions"
                              >
                      </canvas>
                  </div>
        </div>
    </div>
</div>

