<div class="container">
    <div class="card" style="width: 15rem;">
        <div class="card-header">
            <div class="row">
                <div class="col-md-5" style="margin-right: 0px;">
                    <h4><span class="badge text-bg-primary">Semana</span></h4>
                </div>
                <div class="col-md-5">
                <h4><span class="badge text-bg-dark" >48</span></h4>
                </div>
            </div>
        </div>
       <div class="card-body">

        <div class="card border-primary mb-1">
            <div class="card-body">
                <h6 class="card-title"><b>Tipo</b></h6>
                <hr>
                <div class="row">
                    <div class="col-md-4" style="margin-right: 0px;">
                        <h5><span class="badge text-bg-primary">Local</span></h5>
                    </div>
                    <div class="col-md-4">
                        <h5><span class="badge text-bg-primary">Trade</span></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-primary mb-1">
            <div class="card-body">
                <h6 class="card-title"><b>Año</b></h6>
                <hr>
                <div class="row">
                    <div class="col-md-4" style="margin-right: 0px;">
                        <h5><span class="badge text-bg-primary">2023</span></h5>
                    </div>
                    <div class="col-md-4">
                        <h5><span class="badge text-bg-primary">2024</span></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-primary mb-1">
            <div class="card-body">
                <h6 class="card-title"><b>Cuartos</b></h6>
                <hr>
                <div class="row">
                    <div class="col-md-3" style="margin-right: 0px;">
                        <h5><span class="badge text-bg-primary">Q1</span></h5>
                    </div>
                    <div class="col-md-3">
                        <h5><span class="badge text-bg-primary">Q2</span></h5>
                    </div>
                    <div class="col-md-3">
                        <h5><span class="badge text-bg-primary">Q3</span></h5>
                    </div>
                    <div class="col-md-3">
                        <h5><span class="badge text-bg-primary">Q4</span></h5>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
